<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885145956292-b04r5jodji249fvgnrp4eldic1palm55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885145956292-b04r5jodji249fvgnrp4eldic1palm55</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ7KEdreipaz94nMqixqa2fAN6fuTShxU</string>
	<key>GCM_SENDER_ID</key>
	<string>885145956292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FH.MiChef</string>
	<key>PROJECT_ID</key>
	<string>michef-50e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>michef-50e4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885145956292:ios:82d6413f43202bef5cfe91</string>
</dict>
</plist>